<app-top-bar title="Locations" 
						(add)="onAddCategory()"
						(edit)="onEditCategory()"
						(remove)="removeCategory()"></app-top-bar>

<div class="box" *ngIf="isEditing && selectedLocation">
	<h3>Editing</h3>
	<app-edit-location [location]="selectedLocation" [categories]="categories" (save)="onEditingSaved($event)"></app-edit-location>

</div>

<div class="box" *ngIf="isAdding">
	<h3>Adding</h3>
	<app-edit-location [categories]="categories" (save)="onAddingSaved($event)"></app-edit-location>
</div>


<app-locations-list [locations]="locations" [selectedLocation]="selectedLocation" (onSelected)="onSelected($event)"></app-locations-list>