.selected {
	background: #ddd;
}

h4 {
	margin: 0;
	color: #000;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.location {
	cursor: pointer;
	margin: 15px; 
	/*margin-top: 20px;
	margin-bottom: 20px;*/
	padding: 15px;
	/*border: 1px solid #ccc;*/
	/*width: 45%;*/
	flex-basis: 300px;
	flex-grow: 1;

	padding-right: 60px;
}

[md-icon-button] {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.address {
	color: #999;
	margin: 0;
}