<div class="bar">
	
	<mat-toolbar>
		<h2 class="title">{{ title }}</h2>



		<button mat-raised-button class="button" (click)="onAdd()">
			<mat-icon>add</mat-icon> <span class="button-text">Add</span>
		</button>
		
		<ng-container *ngIf="selected">
			
			<button mat-raised-button class="button" (click)="onRemove()">
				<mat-icon>delete</mat-icon> <span class="button-text">Remove</span>
			</button>

			<button mat-raised-button class="button" (click)="onEdit()">
				<mat-icon>edit</mat-icon> <span class="button-text">Edit</span>
			</button>

		</ng-container>

	</mat-toolbar>
</div>