<div class="bar">
	
	<md-toolbar>
		<h2 class="title">{{ title }}</h2>



		<button md-raised-button class="button" (click)="onAdd()">
			<md-icon>add</md-icon> <span class="button-text">Add</span>
		</button>
		
		<ng-container *ngIf="selected">
			
			<button md-raised-button class="button" (click)="onRemove()">
				<md-icon>delete</md-icon> <span class="button-text">Remove</span>
			</button>

			<button md-raised-button class="button" (click)="onEdit()">
				<md-icon>edit</md-icon> <span class="button-text">Edit</span>
			</button>

		</ng-container>

	</md-toolbar>
</div>