<div class="edit">
	<form (ngSubmit)="onSubmit(); !category && categoryForm.reset()" #categoryForm="ngForm">
		
		<mat-form-field class="example-full-width">
		  <!-- <input mdInput placeholder="Favorite food" value="Sushi"> -->
			<input matInput type="text" name="name" placeholder="Name" [(ngModel)]="modelName" #name="ngModel" required>
		</mat-form-field>




		<button mat-raised-button type="submit" [disabled]="!categoryForm.form.valid"><mat-icon>save</mat-icon> Save</button>

		<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
			Name is required
		</div>

	</form>
</div>
