<div class="header">
	<button routerLink="../" mat-icon-button class="header__btn"><mat-icon>arrow_back</mat-icon></button>
	<div class="header__title">Choose your floor</div>
</div>
<div class="floor-list">
	<button mat-raised-button class="floor-list__item">1</button>
	<button mat-raised-button class="floor-list__item">2</button>
	<button mat-raised-button class="floor-list__item">1</button>
	<button mat-raised-button class="floor-list__item">2</button>
	<button mat-raised-button class="floor-list__item">1</button>
	<button mat-raised-button class="floor-list__item">2</button>
	<button mat-raised-button class="floor-list__item">1</button>
	<button mat-raised-button class="floor-list__item">2</button>
	<button mat-raised-button class="floor-list__item">1</button>
	<button mat-raised-button class="floor-list__item">2</button>
	<button mat-raised-button class="floor-list__item">1</button>
	<button mat-raised-button routerLink="2" class="floor-list__item">2</button>
</div>