<div class="header">
	<button routerLink="../" mat-icon-button class="header__btn"><mat-icon>arrow_back</mat-icon></button>
	<div class="header__title">Choose your floor</div>
</div>
<div class="floor-list">
	<button mat-raised-button class="floor-list__item">1</button>
	<button mat-raised-button class="floor-list__item">2</button>
	<button mat-raised-button class="floor-list__item">3</button>
	<button mat-raised-button class="floor-list__item">4</button>
	<button mat-raised-button class="floor-list__item">5</button>
	<button mat-raised-button class="floor-list__item">6</button>
	<button mat-raised-button class="floor-list__item">7</button>
	<button mat-raised-button class="floor-list__item">8</button>
	<button mat-raised-button class="floor-list__item">9</button>
	<button mat-raised-button class="floor-list__item">10</button>
	<button mat-raised-button class="floor-list__item">11</button>
	<button mat-raised-button routerLink="2" class="floor-list__item">12</button>
</div>
