<div class="edit">
	<form (ngSubmit)="onSubmit()" [formGroup]="locationForm" novalidate>
	
			<mat-form-field class="example-full-width">
				<input matInput type="text" formControlName="name" placeholder="Name">
			</mat-form-field>
		

			<mat-form-field class="example-full-width">
				<input matInput type="text" formControlName="address" placeholder="Address">
			</mat-form-field>


			<mat-form-field class="example-full-width">
				<input matInput type="text" formControlName="lat" placeholder="Latitude">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="text" formControlName="lng" placeholder="Longitude">
			</mat-form-field>

			<mat-select formControlName="categoryId" placeholder="Category">
				<mat-option [value]="null">Not selected</mat-option>
			  <mat-option *ngFor="let category of categories" [value]="category.id">
			  	{{ category.name }}
			  </mat-option>
			</mat-select>

		<div class="row">
			<button mat-raised-button type="submit" [disabled]="!locationForm.valid">Save</button>
		</div>

<!-- 		<div [hidden]="locationForm.valid || locationForm.pristine" >
			All fields are required
		</div> -->

	</form>
</div>