<div class="edit">
	<form (ngSubmit)="onSubmit()" [formGroup]="locationForm" novalidate>
	
			<md-form-field class="example-full-width">
				<input mdInput type="text" formControlName="name" placeholder="Name">
			</md-form-field>
		

			<md-form-field class="example-full-width">
				<input mdInput type="text" formControlName="address" placeholder="Address">
			</md-form-field>


			<md-form-field class="example-full-width">
				<input mdInput type="text" formControlName="lat" placeholder="Latitude">
			</md-form-field>
			<md-form-field class="example-full-width">
				<input mdInput type="text" formControlName="lng" placeholder="Longitude">
			</md-form-field>

			<md-select formControlName="categoryId" placeholder="Category">
				<md-option [value]="null">Not selected</md-option>
			  <md-option *ngFor="let category of categories" [value]="category.id">
			  	{{ category.name }}
			  </md-option>
			</md-select>

		<div class="row">
			<button md-raised-button type="submit" [disabled]="!locationForm.valid">Save</button>
		</div>

<!-- 		<div [hidden]="locationForm.valid || locationForm.pristine" >
			All fields are required
		</div> -->

	</form>
</div>