@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}



.container {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.box {
	margin: 20px 0;
	border: 1px solid #ddd;
	padding: 10px;
}

.info-screen {
	text-align: center;
	padding: 20px;
}

.info-screen__message {
	margin-bottom: 2em;
}